/* universal selector */
*{
    font-family: "JetBrains Mono", monospace;
}
/* select elements by tag name */
h2{
    color: red;
}
/* select elements by class name */
.text{
    color: blue;
}
#user-info{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
}
p{
    color: purple;
}
.parent p{
    color: orange;
}
a{
    text-decoration: none;
    color: rgb(230, 105, 56);
}
a:hover{
    color: purple;
    cursor: not-allowed;
}
/* h1, h2, h3{
    font-family: "Poppins", sans-serif;
} */