/* .example {
  background-color: brown;
  width: 200px;
  height: 200px;
  justify-self: right;
  position: relative;
  right: 50px;
} */
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: blue;
    /* grid-auto-flow: column;
    grid-auto-columns: 100px;
    grid-auto-rows: 200px; */
    width: 500px;
    justify-content: center;
    justify-self: center;
    padding: 20px;

}
.grid-container div{
    background-color: lightblue;
    margin: 3px;
}
