img {
  width: 300px;
  height: 300px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
@media (max-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 650px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
